.CycleEditor-controls .controls-area {
  .control-btn {
    position: relative;
    z-index: 10;
    &.control-btn-disabeld {
      cursor: not-allowed;
      background-color: rgba(0,0,0,0);
      border: 1px solid rgba(0,0,0,0);
      box-shadow: none;
      opacity: .25;
      .cc-btn {
        cursor: not-allowed;
      }
    }
    .cc-btn-arrow {
      padding: 0;
      min-width: auto;
    }
    .cc-btn-list {
      min-width: 215px;
      position: absolute;
      top: 32px;
      left: 0;
      font-size: 12px;
      background: #fff;
      border: 1px solid #e8e8e8;
      border-radius: 3px 3px;
      box-shadow: 0 2px 10px rgba(0,0,0,.12);
      padding: 12px 10px;
      height: auto;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      .cc-btn-list-item {
        width: 24px;
        height: 24px;
        padding: 2px;
        display: inline-block;
        border-radius: 3px 3px;
        border: 1px solid rgba(0,0,0,0);
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        cursor: pointer;
        background-color: #fff;
        position: relative;
        &:hover {
          background-color: #e8e8e8;
          border: 1px solid #ccc;
        }
        > span:first-child {
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 2px 2px;
          border: 1px solid rgba(0,0,0,0);
        }
        > .cc-icon-checked {
          position: absolute;
          top: 4px;
          left: -4px;
        }
      }
      &.cc-btn-list-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}