@font-face {
  font-family: cc-icon;
  src: url("../../font_1.woff") format("woff");
}

.cc-btn {
  display: inline-block;
  height: 30px;
  width: auto;
  min-width: 30px;
  text-align: left;
  padding: 0 8px;
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 3px 3px;
  font-size: 12px;
  margin: 0 3px 0 0;
  cursor: pointer;
  color: #595959;
  outline: none;
  line-height: 28px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.cc-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: auto;
}
.cc-icon:before {
  display: block;
  font-family: cc-icon!important
}
.cc-icon-svgs {
    vertical-align: middle;
}
.cc-icon-checked {
    margin-left: 8px;
}
.cc-icon-bold:before {
    content: "\E9DE"
}
.cc-icon-underline:before {
    content: "\E9DD"
}
.cc-icon-code:before {
    content: "\E9EA"
}
.cc-icon-italic:before {
    content: "\E9E0"
}
.cc-icon-strikethrough:before {
    content: "\E9DC"
}
.cc-icon-sub:before {
    content: "\E9FF"
}
.cc-icon-sup:before {
    content: "\EA00"
}
.cc-icon-color:before {
    content: "\E9E6"
}
.cc-icon-background:before {
    content: "\E9F8"
}
.cc-icon-mark:before {
    content: "\E9E4"
}
.cc-icon-link:before {
    content: "\E9EB"
}
.cc-icon-emoji:before {
    content: "\EA04"
}
.cc-icon-math:before {
    content: "\EA06"
}
.cc-icon-codeblock:before {
    content: "\E9F7"
}
.cc-icon-mind-map:before {
    content: "\E8B2"
}
.cc-icon-puml:before {
    content: "\EA45"
}
.cc-icon-oList:before {
    content: "\E9E7"
}
.cc-icon-uList:before {
    content: "\E9E5"
}
.cc-icon-tList:before {
    content: "\E9EE"
}
.cc-icon-quote:before {
    content: "\E9E9"
}
.cc-icon-hr:before {
    content: "\E9F6"
}
.cc-icon-video:before {
    content: "\E9F9"
}
.cc-icon-riddle:before {
    content: "\EA01"
}
.cc-icon-left:before {
    content: "\E9E2"
}
.cc-icon-center:before {
    content: "\E9E3"
}
.cc-icon-right:before {
    content: "\E9E8"
}
.cc-icon-justify:before {
    content: "\E9E1"
}
.cc-icon-image:before {
    content: "\E9EF"
}
.cc-icon-pic-right:before {
    content: "\EA09"
}
.cc-icon-pic-left:before {
    content: "\EA08"
}
.cc-icon-pic-center:before {
    content: "\EA0A"
}
.cc-icon-pic-block:before {
    content: "\EA49"
}
.cc-icon-pic-inline:before {
    content: "\EA0B"
}
.cc-icon-pic-inline-left:before {
    content: "\EA4B"
}
.cc-icon-pic-inline-right:before {
    content: "\EA4D"
}
.cc-icon-replace:before {
    content: "\EA0E"
}
.cc-icon-indent-left:before {
    content: "\E9ED"
}
.cc-icon-indent-right:before {
    content: "\E9EC"
}
.cc-icon-insert-sibling:before {
    content: "\E8AF"
}
.cc-icon-insert-child:before {
    content: "\E8AE"
}
.cc-icon-expand-subtree:before {
    content: "\E8B4"
}
.cc-icon-collapse-subtree:before {
    content: "\E8B3"
}
.cc-icon-table:before {
    content: "\E9F4"
}
.cc-icon-table-merge:before {
    content: "\EA05"
}
.cc-icon-table-split:before {
    content: "\EA03"
}
.cc-icon-table-clean:before {
    content: "\EA2E"
}
.cc-icon-table-delete-column:before {
    content: "\EA32"
}
.cc-icon-table-delete-row:before {
    content: "\EA34"
}
.cc-icon-redo:before {
    content: "\E9DB"
}
.cc-icon-undo:before {
    content: "\E9DA"
}
.cc-icon-clean:before {
    content: "\E9DF"
}
.cc-icon-save:before {
    content: "\E9FB"
}
.cc-icon-delete:before {
    content: "\E9F3"
}
.cc-icon-print:before {
    content: "\E9D9"
}
.cc-icon-more:before {
    content: "\EA02"
}
.cc-icon-doc-list:before {
    content: "\EA20"
}
.cc-icon-doc-list2:before {
    content: "\EA41"
}
.cc-icon-plus:before {
    content: "\EA11"
}
.cc-icon-close:before {
    content: "\E982"
}
.cc-icon-check:before {
    content: "\E97B"
}
.cc-icon-edit:before {
    content: "\E6C8"
}
.cc-icon-add-blank:before {
    content: "\E9F5"
}
.cc-icon-add-markdown:before {
    content: "\EA42"
}
.cc-icon-import:before {
    content: "\EA40"
}
.cc-icon-doc:before {
    content: "\EA3F"
}
.cc-icon-pdf:before {
    content: "\E9FE"
}
.cc-icon-word:before {
    content: "\E9F2"
}
.cc-icon-markdown:before {
    content: "\EA0F"
}
.cc-icon-recent-doc:before {
    content: "\E9F1"
}
.cc-icon-doc-info:before {
    content: "\E629"
}
.cc-icon-info:before {
    content: "\E629"
}
.cc-icon-feedback:before {
    content: "\EA24"
}
.cc-icon-sidebar:before {
    content: "\EA1D"
}
.cc-icon-text:before {
    content: "\EA1C"
}
.cc-icon-tree:before {
    content: "\EA22"
}
.cc-icon-connect:before {
    content: "\EA35"
}
.cc-icon-termail:before {
    content: "\E636"
}
.cc-icon-drag:before {
    content: "\EA48"
}
.cc-icon-anchor:before {
    content: "\E989"
}
.cc-icon-zoom-in:before {
    content: "\EA47"
}
.cc-icon-zoom-out:before {
    content: "\EA46"
}
.cc-icon-paste:before {
    content: "\E9BE"
}
.cc-icon-cut:before {
    content: "\E9BD"
}
.cc-icon-copy:before {
    content: "\E9BC"
}
.cc-icon-clone:before {
    content: "\EA4A"
}
.cc-icon-hotkey:before {
    content: "\EA07"
}
.cc-icon-question:before {
    content: "\E63C"
}
.cc-icon-lock:before {
    content: "\E97D"
}
.cc-icon-unlock:before {
    content: "\E96C"
}
.cc-icon-expand:before {
    content: "\EA0D"
}
.cc-icon-collapse:before {
    content: "\EA0C"
}
.cc-icon-attachment:before {
    content: "\E9F0"
}
.cc-icon-eyes:before {
    content: "\E9FA"
}
.cc-icon-eyes-slash:before {
    content: "\E9FD"
}
.cc-icon-download:before {
    content: "\E9FC"
}
.cc-icon-preview:before {
    content: "\E9FA"
}
.cc-icon-arrow-up:before {
    content: "\EA1B"
}
.cc-icon-arrow-down:before {
    content: "\EA1A"
}
.cc-icon-arrow-left:before {
    content: "\EA1F"
}
.cc-icon-arrow-right:before {
    content: "\EA1E"
}
.cc-icon-full-screen:before {
    content: "\EA19"
}
.cc-icon-full-screen-cancel:before {
    content: "\EA18"
}
.cc-icon-h1:before {
    content: "\EA13"
}
.cc-icon-h2:before {
    content: "\EA17"
}
.cc-icon-h3:before {
    content: "\EA14"
}
.cc-icon-h4:before {
    content: "\EA12"
}
.cc-icon-h5:before {
    content: "\EA16"
}
.cc-icon-h6:before {
    content: "\EA15"
}
.cc-icon-clock:before {
    content: "\E95B"
}
.cc-icon-dropper:before {
    content: "\E9C1"
}
.cc-icon-font:before {
    content: "\E97C"
}
.cc-icon-formula:before {
    content: "\E6A4"
}
.cc-icon-text-highlight:before {
    content: "\E6B1"
}
.cc-icon-footnote:before {
    content: "\E6B4"
}
.cc-icon-dropdown:before {
    content: "\E983"
}
.cc-icon-insert:before {
    content: "\E976"
}
.cc-icon-toc:before {
    content: "\E6BB"
}
.cc-icon-tocfold:before {
    content: "\E6BC"
}
.cc-icon-tocunfold:before {
    content: "\E6BA"
}