.CycleEditor-editor {
  .CycleEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: Hoefler Text,Georgia,serif;
    font-style: italic;
    margin: 16px 0;
    padding: 8px 16px;
  }
  .CycleEditor-header-one,
  .CycleEditor-header-two,
  .CycleEditor-header-three,
  .CycleEditor-header-four, {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 8px 0;
    color: #333;
    word-spacing: 1px;
  }
  .CycleEditor-font-12 {
    font-size: 12px;
  }
  .CycleEditor-font-13 {
    font-size: 13px;
  }
  .CycleEditor-font-14 {
    font-size: 14px;
  }
  .CycleEditor-font-18 {
    font-size: 18px;
  }
  .CycleEditor-header-two, .CycleEditor-font-24 {
    font-size: 24px;
  }
  .CycleEditor-header-three, .CycleEditor-font-20 {
    font-size: 20px;
  }
  .CycleEditor-header-four, .CycleEditor-font-16 {
    font-size: 16px;
  }
  .CycleEditor-font-28 {
    font-size: 28px;
  }
  .CycleEditor-font-32 {
    font-size: 32px;
  }
  .CycleEditor-font-36 {
    font-size: 36px;
  }
  
}